{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Dashboard sale</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Bosh sahifa</a></li>
                            <li class="breadcrumb-item">Kategoriyalar ro'yxati</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- support-section start -->
            <div class="col">
                <form method="get" action="{% url 'product_list' %}">
                    <select name="category_code">
                        <option value="">Select Category</option>
                        {% for category in categories %}
                        <option value="{{ category.code }}" {% if category_code == category.code %}selected{% endif %}>{{ category.name }}</option>
                        {% endfor %}
                    </select>
                    <input type="text" name="name" placeholder="Product name" value="{{ request.GET.name }}">
                    <input type="date" name="start_date" value="{{ request.GET.start_date }}">
                    <input type="date" name="end_date" value="{{ request.GET.end_date }}">
                    <button type="submit">Filter</button>
                </form>
                
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>T/r</th>
                            <th>Nome</th>
                            <th>Kategoriya</th>
                            <th>Narxi</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.category.name }}</td>
                            <td>{{ product.price }}</td>
                            <td>
                                <a href="{% url 'product_update' product.code %}" style="margin-right: 10px;"><i class="fa fa-edit"></i></a>
                                <bottom>
                                    <a href="#" data-toggle="modal" data-target="#deleteModal{{ product.id }}"><i class="fa fa-trash"></i></a>
                                </bottom>
                            
                                <div class="modal fade" id="deleteModal{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Mahsulotni o'chirish</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Mahsulotni o'chirmoqchimisiz?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Yopish</button>
                                                <a href="{% url 'product_delete' product.code %}" class="btn btn-danger">O'chirish</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
                
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>

{% endblock %}