{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Dashboard sale</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Bosh sahifa</a></li>
                            <li class="breadcrumb-item">Qaytarilgan mahsulotlar</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">

            <div class="col-md-12">
                <!-- [ Hover-table ] start -->
                <div class="card">
                    <div class="card-header">
                        <h5>Qaytarilgan mahsulotlar</h5>
                    </div>
                    <div class="card-block">
                        <div class="dt-responsive table-responsive">
                            <table id="simpletable" class="table table-striped table-bordered nowrap">

                                <tbody>
                                    {% for re in returns %}
                                    <tr>
                                        <td>{{ re.outery.product.name }}</td>
                                        <td>{{ re.quantity }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
            
    </div>
</div>
<!-- [ Main Content ] end -->
{% endblock %}